---
layout: default
title: 
description: A litle more info here.
featured_image: /images/banners/2017-NM-39b.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h2 style="color:#f7f3f2; text-align:center";>Research focused in biogeography, spatial ecology<br>
			and landscape change</h2>
		
		<p>Our goal is to provide sound science to both resource managers and policy makers to help shape 
			ecosystem management and conservation as we move into an uncertain future.                              
		
		
		</p>

       	        <p>
		<p style="color:#e0c112";>We are still in the process of getting the site set up. 
			   In the meantime please see <a href="https://timassal.com" style="color:#f7f3f2">timassal.com</a> for more info. </p>
	   
	      </p><ul>
		
	
	       <p> The lab is housed in the <a href="https://www.kent.edu/geography" style="color:#f7f3f2">Department of Geography</a> at 
		       <a href="https://www.kent.edu" style="color:#f7f3f2">Kent State University</a>. We frame broad questions related to 
		       ecosystem resilience, resistance and vulnerability 
		       with regard to natural and anthropogenic disturbance. Focal points include:
		       
		</p>
		
			<ul>
 			  <li>investigation of disturbance events</li>
  			  <li>status and trends of key natural resources</li>
  			  <li>assessment of management actions on the conservation of populations, communities, and ecosystems</li>
			</ul> 
		       
	         <p> 
			 All three of these elements are critical to gain an understanding of future scenarios related to increased pressures on natural resources, 
		       most notably through climate change and human population growth.

		</p>
		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
