<ul class="socials-Tim">
    <a href="mailto:jherr@unl.edu" class="fa fa-envelope fa-1x"></a>
    <a href="https://twitter.com/TimAssal" img src='/images/socials/Twitter-Logo-sm.png'></a>
    <a href="https://github.com/jrherr" class="fa fa-github fa-2x"></a>
    <a href="https://scholar.google.com/citations?user=ZDnMer4AAAAJ&hl=en" class="ai ai-google-scholar fa-2x"></a>
    <a href="https://www.researchgate.net/profile/Joshua_Herr" class="ai ai-researchgate fa-2x"></a>
    <a href="http://orcid.org/0000-0003-3425-292X" class="ai ai-orcid fa-2x"></a>
</ul>
