<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/academicons.css">

<ul class="socials-Tim">
    <a href="mailto:tassal@kent.edu" class="fab fa-envelope fa-1x"></a>
    <a href="https://twitter.com" class="fab fa-twitter fa-2x"><</a>
    <a href="https://github.com/tjassal" class="fab fa-github fa-2x"></a>
    <a href="https://scholar.google.com/citations?user=kTZfecUAAAAJ&hl=en" class="ai ai-google-scholar fa-2x"></a>
    <a href="https://www.researchgate.net/profile/Timothy_Assal" class="ai ai-researchgate fa-2x"></a>
    <a href="https://orcid.org/0000-0001-6342-2954" class="ai ai-orcid fa-2x"></a>
    <a href="https://stackoverflow.com/users/4630035/tim-assal" class="ai ai-stackoverflow fa-2x"></a>
     
</ul>
