{% if site.show_social_icons %}
	<a href="http://joshuaherr.com" class="fa fa-user fa-2x"></a>
    <a href="mailto:jherr@unl.edu" class="fa fa-envelope fa-2x"></a>
    <a href="https://twitter.com/number_three" class="fa fa-twitter fa-2x"></a>
    <a href="https://github.com/jrherr" class="fa fa-github fa-2x"></a>
    <a href="https://scholar.google.com/citations?user=ZDnMer4AAAAJ&hl=en" class="ai ai-google-scholar fa-2x"></a>
    <a href="https://www.researchgate.net/profile/Joshua_Herr" class="ai ai-researchgate fa-2x"></a>
    <a href="http://orcid.org/0000-0003-3425-292X" class="ai ai-orcid fa-2x"></a>
{% endif %}
